/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /*As Per Design Spec*/
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;

    /* For Visual Aid*/
    border: 1px red solid;
}

body {
    background-color: black;
}

/* Nav */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 11;
    height: 69px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

.logo-pic {
    height: 50px;
    margin: 10px;
}

nav ul li {
    display: inline;
}

a:hover {
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 11px;
}

/* Header */
header {
    position: relative;
    padding: 69px;
}

#mission {
    position: relative;
    padding: 69px;
    height: 700px;
}

/* Main */

/* Section - Featured Tea */
#featured-tea {
    position: relative; 
    padding: 69px;
    height: 700px;
}

/* Section - Location */
#location {
    position: relative;
    padding: 69px;
    height: 700px;
}