/* Universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /*As Per Design Spec*/
    font-family: Helvetica, Arial, sans-serif;
    color: seashell;
    opacity: 0.9;
    text-align: center;

    /* For Visual Aid*/
    border: 1px red solid;
}

body {
    background-color: black;
    font-size: 22px;
}

.center-flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Nav */
nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    z-index: 11;
    height: 69px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid seashell;
    opacity: 1;
}

.logo-pic {
    height: 50px;
    margin: 10px;
}

nav ul li {
    display: inline;
}

a:hover {
    color: lightcoral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 11px;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Section - Mission */
#mission {
    padding-top: 69px;
}

.mission-background {
    background-image: url(../img/missions-bg.jpg);
    height: 700px;
    width: 1200px;
}

.mission-banner {
    height: 100px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    background-color: black;
    opacity: 1;
}

/* Section - Featured Tea */
#featured-tea {
    padding-top: 69px;
    width: 1000px;
    flex-direction: column;
}

.featured-tea-title {
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
    padding: 11px;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 22px;
    width: 100%;
    flex-wrap: wrap;
}

.photo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

.photo img {
    height: 200px;
}

.photo span {
    display: block;
}

/* Section - Location */
#location {
    height: 700px;
}